$background-color: #FFFFFF;
$primary-light-color: #0092B2;
$primary-dark-color: #0058AA;
$secondary-light-color: #96DD98;
$secondary-dark-color: #230A47;
$tertiary-light-color: #FFFF7F;
$tertiary-dark-color: #f1f424;

// sizing
$main-top-margin: 64px;
$sidebar-width: 100px;

// urls
$cow-icon: 'images/cow.svg';
