$background-color: #efefef;
$primary-light-color: #0092b2;
$primary-dark-color: #0058aa;
$secondary-light-color: #96dd98;
$secondary-dark-color: #230a47;
$tertiary-light-color: #ffff7f;
$tertiary-dark-color: #f1f424;

// data
$table-background: #fff;

// sizing
$main-top-margin: 64px;
$sidebar-width: 100px;
$topbar-height: 50px;

// urls
$cow-icon: 'images/cow.svg';

// responsivity
$responsive-break: 1000px;
