table {
	background-color: $secondary-light-color;
	padding: 10px;
	border-radius: 3px;
	font-size: 14px;
	border-spacing: 4px !important;

	caption {
		font-size: 16px;
		text-align: left;
		text-decoration: underline;
		margin-bottom: 8px;
	}

	tr {
		padding: 4px;

		th {
			text-align: center;
		}

		td {
			padding: 2px 4px;
			text-align: center;
		}
	}
}

.all-cow-data {
	padding-top: $main-top-margin;
	margin-left: 2 * $sidebar-width;
	height: calc(100vh - #{$main-top-margin});
	width: 80%;
}
