table {
	background-color: $secondary-light-color;
	padding: 16px;
	border-radius: 3px;
	font-size: 14px;
	border-spacing: 4px !important;
}

.all-cow-data {
	margin-top: $main-top-margin;
	height: calc(100vh - #{$main-top-margin});
	overflow-y: auto;
}
