table {
	background-color: $table-background;
	padding: 10px;
	border-radius: 3px;
	font-size: 14px;
	border-spacing: 4px !important;

	-webkit-box-shadow: 2px 2px 5px 1px rgba(153,153,153,1);
	-moz-box-shadow: 2px 2px 5px 1px rgba(153,153,153,1);
	box-shadow: 2px 2px 5px 1px rgba(153,153,153,1);

	caption {
		font-size: 16px;
		text-align: left;
		text-decoration: underline;
		margin-bottom: 8px;
	}

	tr {
		padding: 4px;

		th {
			text-align: center;
		}

		td {
			width: 50px;
			padding: 2px 4px;
			text-align: center;
		}
	}
}

.all-cow-data {
	/*padding-top: $main-top-margin;*/
	padding: 6% 4%;
	margin-left: 2 * $sidebar-width;
	height: calc(100vh - #{$main-top-margin});
	max-width: 80%;

	@media (max-width: $responsive-break) {
		margin: 0 auto;
		padding: 4%;
	}
}
