.topbar {
	height: $topbar-height;
	width: 100%;
	position: static;
	background-color: $primary-light-color;

	-webkit-box-shadow: 2px 2px 5px 1px rgba(153,153,153,1);
	-moz-box-shadow: 2px 2px 5px 1px rgba(153,153,153,1);
	box-shadow: 2px 2px 5px 1px rgba(153,153,153,1);

	.cow-icon {
		background: url($cow-icon) no-repeat center;
		width: 10%;
		height: $topbar-height;
	}

	.link {
		display: inline-block;
		width: 10%;
		height: $topbar-height;
		background-color: red;
	}
}

.sidebar {
	height: 100%;
	width: 90px;
	background-color: $primary-light-color;
	-webkit-box-shadow: 3px 0px 3px 0px rgba(176,176,176,1);
	-moz-box-shadow: 3px 0px 3px 0px rgba(176,176,176,1);
	box-shadow: 3px 0px 3px 0px rgba(176,176,176,1);
	position: fixed;

	.cow-icon {
		background: url($cow-icon) no-repeat center;
		width: 100%;
		height: $main-top-margin;
	}

	.action-button-container {
		.action-button {
			@include transition(all, 0.1s, ease-out, 0.1s);

			margin: 8px 0px;
			border-bottom: 50px solid $tertiary-light-color;
			border-right: 50px solid transparent;
			height: 0;
			width: $sidebar-width;
			cursor: pointer;

			span {
				text-align: center;
				vertical-align: middle;
				padding-left: 18px;
				line-height: 50px;
				font-size: 16px;
			}

			&:hover, &.active {
				width: 150px;
				border-bottom-color: $secondary-light-color;
			}
		}
	}

	@media (max-width: $responsive-break) {
		display: none;
	}
}
